<div class="max-w-6xl mx-auto py-10 px-5">
    <h3 class="font-bold text-3xl">Brands</h3>
    <div class="flex mt-5 justify-between">
        <img class="w-24 object-contain" src="/brands/adidas-9.svg" alt="">
        <img class="w-24 object-contain" src="/brands/chanel-2.svg" alt="">
        <img class="w-24 object-contain" src="/brands/d-and-g.svg" alt="">
        <img class="w-24 object-contain" src="/brands/gucci-logo-1.svg" alt="">
        <img class="w-24 object-contain" src="/brands/guess-jeans.svg" alt="">
        <img class="w-24 object-contain" src="/brands/ralphlauren.svg" alt="">

    </div>
</div>