<div class="max-w-6xl mx-auto py-10 px-5">
    <h3 class="font-bold text-3xl">Category</h3>
    <div class="w-full grid grid-cols-5 gap-3 mt-5">
        <div class="relative">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1519093124899-fa21d4b4bad8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="absolute bottom-5 flex items-center justify-center w-full">
                <button class=" mx-auto bg-white rounded-md text-sm px-3 py-2 font-semibold tracking-wider w-44"> Women</button>
            </div>
        </div>
              <div class="relative">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1652794118888-4e1c707260dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80" alt="">
            <div class="absolute bottom-5 flex items-center justify-center w-full">
                <button class=" mx-auto bg-white rounded-md text-sm px-3 py-2 font-semibold tracking-wider w-44"> Man</button>
            </div>
        </div>
              <div class="relative">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1585487000465-cecc786737b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80" alt="">
            <div class="absolute bottom-5 flex items-center justify-center w-full">
                <button class=" mx-auto bg-white rounded-md text-sm px-3 py-2 font-semibold tracking-wider w-44"> Dress</button>
            </div>
        </div>
              <div class="relative">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1656399910131-3e9801ffccaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            <div class="absolute bottom-5 flex items-center justify-center w-full">
                <button class=" mx-auto bg-white rounded-md text-sm px-3 py-2 font-semibold tracking-wider w-44"> Suite</button>
            </div>
        </div>
        <div class="relative">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1590548784585-643d2b9f2925?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="">
            <div class="absolute bottom-5 flex items-center justify-center w-full">
                <button class=" mx-auto bg-white rounded-md text-sm px-3 py-2 font-semibold tracking-wider w-44"> Accessories</button>
            </div>
        </div>
    </div>
</div>