<div class="max-w-6xl mx-auto py-10 px-5">
    <div class="w-full rounded-2xl bg-black flex flex-row ">
        <div class="w-1/2">
            <img class="rounded-l-2xl w-full object-cover h-64" src="https://images.unsplash.com/photo-1607082350899-7e105aa886ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
        </div>
        <div class="w-1/2 flex items-center flex-col text-white justify-center px-5">
            <div class="max-w-md">
                <p>Limited Offer</p>
                <h3 class="text-3xl py-3">35% off only this friday and get special gift</h3>
                <button class="bg-white px-3 py-2 text-black rounded-md">Get it now</button>
            </div>
        </div>
    </div>
</div>