<div class="w-full py-10 bg-black">
    <div class="max-w-6xl mx-auto py-10 px-5 grid grid-cols-5">
        <div class="col-span-2">
            <h3 class="text-white font-bold text-3xl tracking-wider">Kunyung</h3>
            <p class="text-white font-thin">Collections</p>
        </div>
        <div>
            <h3 class="text-white font-bold text-medium tracking-wider">Shop</h3>
        </div>
  
        <div>
            <h3 class="text-white font-bold text-medium tracking-wider">Support</h3>
        </div>
        <div>
            <h3 class="text-white font-bold text-medium tracking-wider">Apyment method</h3>
        </div>
    </div>
</div>