<div class="max-w-6xl mx-auto py-10 px-5">
    <h3 class="font-bold text-3xl">Katalog</h3>
    <div class="w-full grid grid-cols-3 gap-3 mt-5">
        <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1519093124899-fa21d4b4bad8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
              <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1652794118888-4e1c707260dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
              <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1585487000465-cecc786737b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
        <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1656399910131-3e9801ffccaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
        <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1622445272461-c6580cab8755?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
        <div class="relative py-5">
            <img class="aspect-[6/7] object-cover rounded-lg w-full" src="https://images.unsplash.com/photo-1622445275649-b1922cc3e837?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <div class="flex justify-between items-center">
                <div class=" flex flex-col items-start justify-start w-full py-2">
                    <h3 class="text-xl rounded-md font-semibold tracking-wider">White Shirt</h3>
                    <h5>Rp.500.000</h5>
                </div>
                <button class="rounded-md bg-gray-200 group hover:bg-gray-800 py-2 px-3 transition-all duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-8 h-8 group-hover:text-white transition-all duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>                      
                </button>
            </div>
        </div>
        
    </div>
</div>