<div class="max-w-6xl mx-auto px-5">
    <div class=" flex justify-between items-center py-10">
        <div class="border-r w-1/2"> 
            <h2 class="text-3xl max-w-sm font-bold tracking-wider">We provide best customer experiences</h2>
        </div>        
        <div class="text-gray-500">we ensure our customer have the best shiping experience</div>
    </div>
    <div class="grid grid-cols-4 py-10 gap-3">
        <div class="pr-10">
            <img width="44" src="https://img.icons8.com/material/256/verified-account.png" alt="">
           <h3 class="text-xl font-semibold">Original Products</h3> 
           <span class="text-sm text-gray-500">we provide money back guarantee if the product are not original</span>
        </div>
        <div class="pr-10">
            <img width="44" src="https://img.icons8.com/material/256/satisfaction.png" alt="">
            <h3 class="text-xl font-semibold">Satisfaction Guarantee</h3>
            <span class="text-sm text-gray-500">Exhange the product you've purchased if it doesn't fit on you</span>
        </div>
        <div class="pr-10">
            <img width="44" src="https://img.icons8.com/material/512/successful-delivery.png " alt="">
            <h3 class="text-xl font-semibold"> New Arrival Everyday</h3>
            <span class="text-sm text-gray-500">We updates our collections almost everyday</span>
        </div>
        <div class="pr-10">
            <img width="44" src="https://img.icons8.com/material/48/free-shipping--v1.png">
            <h3 class="text-xl font-semibold">Fast & Free Shipping</h3>
            <span class="text-sm text-gray-500">We offer fast and free shipping for our loyal customer</span>
        </div>
    </div>
</div>